// SPDX-License-Identifier: (GPL-2.0+ OR X11)

/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Prince Card";
	compatible = "allwinner,suniv-f1c200s",
			 "allwinner,suniv-f1c100s";

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		bootargs = "console=ttyS0,115200 rootwait init=/preinit root=/dev/mtdblock2 rootfstype=squashfs overlayfsdev=/dev/mtdblock3";

		simplefb_lcd: framebuffer-lcd0 {
			compatible = "allwinner,simple-framebuffer",
				     "simple-framebuffer";
			allwinner,pipeline = "de_be0-lcd0";
			clocks = <&ccu CLK_BUS_DE_BE>, <&ccu CLK_DE_BE>,
				 <&ccu CLK_DRAM_DE_BE>, <&ccu CLK_BUS_LCD>,
				 <&ccu CLK_TCON>;
			status = "disabled";
		};
	};

	// panel: panel {
	// 	compatible = "bananapi,s070wv20-ct16", "simple-panel";
	// 	#address-cells = <1>;
	// 	#size-cells = <0>;

	// 	port@0 {
	// 		reg = <0>;
	// 		#address-cells = <1>;
	// 		#size-cells = <0>;

	// 		panel_input: endpoint@0 {
	// 			reg = <0>;
	// 			remote-endpoint = <&tcon0_out_lcd>;
	// 		};
	// 	};
	// };

	leds {
		compatible = "gpio-leds";

		status {
			label = "status";
			gpios = <&pio 4 4 GPIO_ACTIVE_LOW>; /* PE4 */
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};

	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 1 50000 PWM_POLARITY_INVERTED>;
		enable-gpios = <&pio 4 6 GPIO_ACTIVE_HIGH>;

		brightness-levels = <0 1 2 4 8 16 32 64 128 255>;
		default-brightness-level = <9>;
	};
};

&pio {
	spi1_pins: spi1-pins-pa {
		pins = "PE7", "PE8", "PE9", "PE10";
		function = "spi1";
	};
};

&spi0 {
	status = "okay";

	spi-nor@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		status = "disabled";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x70000>;
				read-only;
			};

			partition@1 {
				label = "kernel";
				reg = <0x70000 0x590000>;
				read-only;
			};

			partition@2 {
				label = "rom";
				reg = <0x600000 0x700000>;
				read-only;
			};

			partition@3 {
				label = "overlay";
				reg = <0xd00000 0x300000>;
			};
		};
	};

	spi-nand@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <50000000>;
		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x100000>;
				read-only;
			};

			partition@1 {
				label = "kernel";
				reg = <0x100000 0x500000>;
				read-only;
			};

			partition@2 {
				label = "rom";
				reg = <0x600000 0x2a00000>;
				read-only;
			};

			partition@3 {
				label = "vendor";
				reg = <0x3000000 0x1000000>;
			};

			partition@4 {
				label = "overlay";
				reg = <0x4000000 0x3000000>;
			};
		};
	};
};

&spi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
	status = "okay";

	ili9341@0 {
		compatible = "ilitek,ili9341";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <32000000>;
		rotate = <270>;
		bgr;
		fps = <30>;
		buswidth = <8>;
		dc-gpios = <&pio 4 5 GPIO_ACTIVE_HIGH>; //PE5
		debug = <0>;
		backlight = <&backlight>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&mmc0 {
	status = "okay";
	broken-cd;
};

&otg_sram {
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral"; /* host peripheral */
	status = "okay";
};

&usbphy {
	status = "okay";
};

&cedar_ve {
	status = "okay";
};

&ion {
	status = "okay";
};

&codec {
	allwinner,audio-routing =
		"Headphone", "HP",
		"Headphone", "HPCOM",
		"LINEIN", "Line In",
		"FMINL", "Left FM In",
		"FMINR", "Right FM In",
		"MIC", "Mic";
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pd_pins>;
	status = "okay";
};

