/*
 * Copyright (C) 2016 Icenowy Zheng <icenowy@aosc.xyz>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "sun8i-v3s.dtsi"
#include "sunxi-common-regulators.dtsi"
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/sun8i-v3s-ccu.h>
#include <dt-bindings/reset/sun8i-v3s-ccu.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Lichee Pi Zero for Prince";
	compatible = "licheepi,prince",
	"licheepi,licheepi-zero-dock",
	"licheepi,licheepi-zero",
	"allwinner,sun8i-v3s";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";

//		simplefb_lcd: framebuffer-lcd0 {
//			compatible = "allwinner,simple-framebuffer",
//				     "simple-framebuffer";
//			allwinner,pipeline = "de_be0-lcd0";
//			clocks = <&ccu CLK_BUS_DE_BE>, <&ccu CLK_DE_BE>,
//				 <&ccu CLK_DRAM_DE_BE>, <&ccu CLK_BUS_LCD>,
//				 <&ccu CLK_TCON>;
//			status = "disabled";
//		};
	};

	leds {
		compatible = "gpio-leds";

//		blue_led {
//			label = "licheepi:blue:usr";
//			gpios = <&pio 1 4 GPIO_ACTIVE_LOW>; /* PB4 */
//			default-state = "on";
//		};
	};

	soc {

		syscon: syscon@1c00000 {
			compatible = "allwinner,sun8i-v3s-system-controller", "allwinner,sun8i-h3-system-control", "syscon";
			reg = <0x01c00000 0xd0>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			sram_c: sram@1d00000 {
				compatible = "mmio-sram";
				reg = <0x01d00000 0x80000>;
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0 0x01d00000 0x80000>;

				ve_sram: sram-section@0 {
					compatible = "allwinner,sun8i-v3s-sram-c", "allwinner,sun4i-a10-sram-c1";
					reg = <0x000000 0x80000>;
				};
			};
		};

		cedarx: video-codec@1c0e000 {
			compatible = "allwinner,sun8i-v3-cedar";
			reg = <0x01c0e000 0x1000>;
			clocks = <&ccu CLK_BUS_VE>, <&ccu CLK_VE>, <&ccu CLK_DRAM_VE>;
			clock-names = "ahb", "mod", "ram";
			resets = <&ccu RST_BUS_VE>;
			interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>;
			allwinner,sram = <&ve_sram 1>;
			status = "disabled";
		};
				
		ion: ion {
			compatible = "allwinner,sunxi-ion";
			status = "disabled";
			heap_cma@0{
				compatible = "allwinner,cma";
				heap-name  = "cma";
				heap-id    = <0x4>;
				heap-base  = <0x0>;
				heap-size  = <0x0>;
				heap-type  = "ion_cma";
			};
		};

		pwm: pwm@1c21400 {
            compatible = "allwinner,sun8i-h3-pwm";
            reg = <0x01c21400 0x08>;
            clocks = <&osc24M>;
            #pwm-cells = <3>;
            status = "disabled";
        };

		ehci0: usb@01c1a000 {
			compatible = "allwinner,sun8i-v3s-ehci", "generic-ehci";
			reg = <0x01c1a000 0x100>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_EHCI0>, <&ccu CLK_BUS_OHCI0>;
			resets = <&ccu RST_BUS_EHCI0>, <&ccu RST_BUS_OHCI0>;
			status = "disabled";
		};

		ohci0: usb@01c1a400 {
			compatible = "allwinner,sun8i-v3s-ohci", "generic-ohci";
			reg = <0x01c1a400 0x100>;
			interrupts = <GIC_SPI 73 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_EHCI0>, <&ccu CLK_BUS_OHCI0>,
				 <&ccu CLK_USB_OHCI0>;
			resets = <&ccu RST_BUS_EHCI0>, <&ccu RST_BUS_OHCI0>;
			status = "disabled";
		};

		emac: ethernet@1c30000 {
			compatible = "allwinner,sun8i-v3s-emac";
			syscon = <&syscon>;
			reg = <0x01c30000 0x104>;
			interrupts = <GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq";
			resets = <&ccu RST_BUS_EMAC>;
			reset-names = "stmmaceth";
			clocks = <&ccu CLK_BUS_EMAC>;
			clock-names = "stmmaceth";
			#address-cells = <1>;
			#size-cells = <0>;
			phy-handle = <&int_mii_phy>;
			phy-mode = "mii";
			status = "okay";
			allwinner,leds-active-low;

			mdio: mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "snps,dwmac-mdio";
			};

			mdio-mux {
				compatible = "mdio-mux", "allwinner,sun8i-h3-mdio-mux";
				#address-cells = <1>;
				#size-cells = <0>;

				mdio-parent-bus = <&mdio>;

				int_mdio: mdio@1 {
					compatible = "allwinner,sun8i-h3-mdio-internal";
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;

					int_mii_phy: ethernet-phy@1 {
						reg = <1>;
						clocks = <&ccu CLK_BUS_EPHY>;
						resets = <&ccu RST_BUS_EPHY>;
						phy-is-integrated;
					};
				};
			};
		};

		csi0: csi@01cb0000 {
            compatible = "allwinner,sun8i-v3s-csi";
            reg = <0x01cb0000 0x3000>;
            interrupts = <GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>;
            clocks = <&ccu CLK_BUS_CSI>, <&ccu CLK_CSI1_SCLK>, <&ccu CLK_DRAM_CSI>, <&ccu CLK_MIPI_CSI>;
            clock-names = "bus", "mod", "ram", "dphy";
            resets = <&ccu RST_BUS_CSI>;
            status = "disabled";
        };

        csi1: csi@1cb4000 {
            compatible = "allwinner,sun8i-v3s-csi";
            reg = <0x01cb4000 0x3000>;
            interrupts = <GIC_SPI 84 IRQ_TYPE_LEVEL_HIGH>;
            clocks = <&ccu CLK_BUS_CSI>, <&ccu CLK_CSI1_SCLK>, <&ccu CLK_DRAM_CSI>;
            clock-names = "bus", "mod", "ram";
            resets = <&ccu RST_BUS_CSI>;
            status = "disabled";
        };

		dma: dma-controller@01c02000 {
			compatible = "allwinner,sun8i-v3s-dma";
			reg = <0x01c02000 0x1000>;
			interrupts = <GIC_SPI 50 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_DMA>;
			resets = <&ccu RST_BUS_DMA>;
			#dma-cells = <1>;
		};

		codec: codec@01c22c00 {
			#sound-dai-cells = <0>;
			compatible = "allwinner,sun8i-v3s-codec";
			reg = <0x01c22c00 0x400>;
			interrupts = <GIC_SPI 29 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_CODEC>, <&ccu CLK_AC_DIG>;
			clock-names = "apb", "codec";
			resets = <&ccu RST_BUS_CODEC>;
			dmas = <&dma 15>, <&dma 15>;
			dma-names = "rx", "tx";
			allwinner,codec-analog-controls = <&codec_analog>;
			status = "disabled";
		};

		codec_analog: codec-analog@01c23000 {
			compatible = "allwinner,sun8i-v3s-codec-analog";
			reg = <0x01c23000 0x4>;
		};

		nmi_intc: interrupt-controller@01c000d0 {
            compatible = "allwinner,sun9i-a80-nmi";
            reg = <0x01c000d0 0x0c>;
            interrupt-controller;
            #interrupt-cells = <2>;
            interrupts = <GIC_SPI 32 IRQ_TYPE_LEVEL_HIGH>;
        };
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 1000000 PWM_POLARITY_INVERTED>;
		brightness-levels = <0 30 40 50 60 70 100>;
		default-brightness-level = <6>;
		status = "okay";
	};

	panel: panel {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			backlight = <&backlight>;
			#address-cells = <1>;
			#size-cells = <0>;

			panel_input: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&tcon0_out_lcd>;
			};
		};
	};

};

&cedarx {
	status = "okay";
};

&ion {
	status = "okay";
};

&panel {
	compatible = "urt,umsh-8596md-t", "simple-panel";
	status = "okay";
};

&de {
	status = "okay";
};

&tcon0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rgb666_pins_a>;
	status = "okay";
};

&tcon0_out {
	tcon0_out_lcd: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};

&pio {
	uart0_pins: uart0@0 {
		pins = "PB8", "PB9";
		function = "uart0";
	};

	uart1_pins: uart1@0 {
		pins = "PE21", "PE22";
		function = "uart1";
		bias-pull-up;
	};

	uart2_pins: uart2@0 {
		pins = "PB0", "PB1";
		function = "uart2";
		bias-pull-up;
	};

	i2c0_pins: i2c0-pins {
		pins = "PB6", "PB7";
		function = "i2c0";
	};

	mmc0_pins_a: mmc0@0 {
		pins = "PF0", "PF1", "PF2", "PF3",
				"PF4", "PF5";
		function = "mmc0";
		drive-strength = <30>;
		bias-pull-up;
	};

	lcd_rgb666_pins_a: lcd-rgb666-pe {
		pins = "PE0", "PE1", "PE2", "PE3", "PE4", "PE5",
				"PE6", "PE7", "PE8", "PE9", "PE10", "PE11",
				"PE12", "PE13", "PE14", "PE15", "PE16", "PE17",
				"PE18", "PE19", "PE23", "PE24";
		function = "lcd";
		drive-strength = <30>;
	};

	pwm0_pins: pwm0 {
        pins = "PB4";
        function = "pwm0";
		drive-strength = <30>;
	};

	pwm1_pins: pwm1 {
		pins = "PB5";
		function = "pwm1";
		drive-strength = <30>;
	};

	csi0_mclk: csi0-mclk@0 {
        pins = "PE20";
        function = "csi_mipi";
    };

	i2c1_pins: i2c1@0 {
        pins = "PE21", "PE22";
        function = "i2c1";
    };

//	csi0_pins: csi0-pins {
//		pins = "PE0", "PE1", "PE2", "PE3", "PE4", "PE5",
//			"PE6","PE7", "PE8", "PE9", "PE10";
//		function = "csi";
//	};
};

&pwm {
        pinctrl-names = "default";
        pinctrl-0 = <&pwm0_pins>, <&pwm1_pins>;
        status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins_a>;
	pinctrl-names = "default";
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>; /* PF6 */
	bus-width = <4>;
	vmmc-supply = <&reg_vcc3v3>;
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_pb_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	usb0_id_det-gpios = <&pio 5 6 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&emac {
	phy-handle = <&int_mii_phy>;
	phy-mode = "mii";
	allwinner,leds-active-low;
	local-mac-address = [a4 51 29 00 00 05];
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&mmc1 {
	broken-cd;
	bus-width = <4>;
	vmmc-supply = <&reg_vcc3v3>;
	max-frequency = <12500000>;
	status = "okay";
};

&spi0 {
    pinctrl-names = "default";
    pinctrl-0 = <&spi0_pins>;
    status = "okay";

	spi-nor@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		status = "disabled";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x70000>;
				read-only;
			};

			partition@1 {
				label = "kernel";
				reg = <0x70000 0x590000>;
				read-only;
			};

			partition@2 {
				label = "rom";
				reg = <0x600000 0x700000>;
				read-only;
			};

			partition@3 {
				label = "overlay";
				reg = <0xd00000 0x300000>;
			};
		};
	};

	spi-nand@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x100000>;
				read-only;
			};

			partition@1 {
				label = "kernel";
				reg = <0x100000 0x500000>;
				read-only;
			};

			partition@2 {
				label = "rom";
				reg = <0x600000 0x2a00000>;
				read-only;
			};

			partition@3 {
				label = "vendor";
				reg = <0x3000000 0x1000000>;
			};

			partition@4 {
				label = "overlay";
				reg = <0x4000000 0x3000000>;
			};
		};
	};
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
    pinctrl-0 = <&i2c0_pins>;

	rtp@48 {
		compatible = "ti,tsc2007";
		reg = <0x48>;
		interrupt-parent = <&pio>;
		interrupts = <4 12 IRQ_TYPE_EDGE_FALLING>;
		gpios = <&pio 4 12 GPIO_ACTIVE_LOW>;
		pendown-gpio = <&pio 4 12 GPIO_ACTIVE_LOW>;
		ti,x-plate-ohms = <660>;
		wakeup-source;
		status = "okay";
	};

	ctp@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		interrupt-parent = <&pio>;
		interrupts = <4 12 IRQ_TYPE_EDGE_FALLING>; // PE12
		irq-gpios = <&pio 4 12 GPIO_ACTIVE_HIGH>; // PE12
		reset-gpios = <&pio 0 0 GPIO_ACTIVE_HIGH>; // PA0
	};
};

&i2c1 {
    status = "okay";
	pinctrl-0 = <&i2c1_pins>;
    ov5640: camera@3c {
        compatible = "ovti,ov5640";
        reg = <0x3c>;
        pinctrl-names = "default";
        pinctrl-0 = <&csi0_mclk>;
        clocks = <&ccu CLK_CSI0_MCLK>;
        clock-names = "xclk";
        assigned-clocks = <&ccu CLK_CSI0_MCLK>;
        assigned-clock-rates = <24000000>;
        powerdown-gpios = <&pio 4 19 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&pio 4 18 GPIO_ACTIVE_LOW>;
        port {
            ov5640_0: endpoint {
                remote-endpoint = <&csi0_ep>;
                clock-lanes = <0>;
                data-lanes = <1 2>;
            };
        };
    };
};

&csi0 {
    status = "okay";
    allwinner,mipi-csi-bps = <400000000>;
    port {
        csi0_ep: endpoint {
            remote-endpoint = <&ov5640_0>;
            clock-lanes = <0>;
            data-lanes = <1 2>;
        };
    };
};

&mixer0 {
    status = "ok";
};

&codec {
    allwinner,audio-routing =
	"Headphone",
	"HP",
	"Headphone",
	"HPCOM",
	"Mic",
	"MIC1",
	"Mic",
	"HBIAS";
};

&lradc {
	vref-supply = <&reg_vcc3v0>;
	status = "okay";

	button-200 {
		label = "Volume Up";
		linux,code = <KEY_VOLUMEUP>;
		channel = <0>;
		voltage = <200000>;
	};

	button-400 {
		label = "Volume Down";
		linux,code = <KEY_VOLUMEDOWN>;
		channel = <0>;
		voltage = <400000>;
	};

	button-600 {
		label = "Select";
		linux,code = <KEY_SELECT>;
		channel = <0>;
		voltage = <600000>;
	};

	button-800 {
		label = "Start";
		linux,code = <KEY_OK>;
		channel = <0>;
		voltage = <800000>;
	};
};
